@import "./../../assets/css/color.scss";
@import "./../../assets/css/fontSize.scss";
@import "./../../assets/css/mixin.scss";

.ms-tag{
  font-size: $font12;
  display: inline-block;
  padding: 5px 0px 5px 18px;
  border-radius: 15px;
  margin-right:8px;
  .pr18{
    padding-right:18px;
  }
  .clean{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.ms-tag.gray{
  color: $darkGrayColor;
  border: 1px solid $grayColor;
}
.ms-tag.green{
  color: $primaryColor;
  border: 1px solid $primaryColor;
}
