$whiteColor: #fff;
$blackColor: #343434;

$darkGrayColor: #656565;
$grayColor: #959595;
$lightGrayColor: #f7f7f7;

$darkPrimaryColor: #00d3a4;
$primaryColor: #00c0ff;
$lightPrimaryColor: #00d3a4;

$darkYellowColor: #f99872;
$yellowColor: #f99872;
$lightYellowColor: #f99872;

$redColor: #dd514c;
$lightRedColor: #fc9696;

$borderColor: lighten($blackColor, 65%);
$defaultBtnColor: #b4b4b4;
