$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font32: 32px;
$font36: 36px;
$font40: 40px;
$font45: 45px;
$font50: 50px;
